* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  scroll-behavior: smooth;
}

/* header geiz */

header {
  background: url(assets/kompos3.jpg) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.intro h1 {
  margin-top: -10%;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.angle-down-icon {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.panah-bawah a, i{
  color: black; 
  font-size: 24px;
  margin-right: 10px; 
}

/* navbar nih */
.navbar {
  width: 100%;
  background-color: #6db472;
  padding: 14px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.menu-items {
  list-style-type: none;
  display: flex;
}

.menu-items li {
  margin-left: 30px;
}

.menu-items li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.menu-items li a:hover {
  color: #333;
}

/* Bagian Home */

#home {
  background: linear-gradient(to top, #76c47b, #ffffff 85%);
  padding: 40px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.intro-section {
  padding: 20px 20px;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  margin-top: -50px;
}

.intro-section h2 {
  font-size: 2em;
  margin-bottom: 16px;
  color: #333;
  text-align: center;
}

.intro-section p {
  font-size: 1.2em;
  color: #666;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  text-align: justify;
}

/* Style for card section */
.card-section {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background-size: cover;
  flex-wrap: wrap;
}

.card {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  text-align: center;
  margin: 20px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: auto;
}

.card p {
  font-size: 0.8em;
  color: #666;
  margin-bottom: 10px;
  margin-top: 15px;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.card a:hover {
  background-color: #218838;
}

@media (min-width: 768px) {
  .card {
    width: 30%;
  }
}

/* bagian about */
#about {
  background: linear-gradient(to bottom, #76c47b, #ffffff 85%);
  padding: 40px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.about-container {
  display: flex;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  margin: 0 auto;
  margin-top: 40px;
}

.about-image {
  flex: 1;
  padding-right: 10px;
}

.about-image img {
  width: 70%;
  max-width: 280px;
  border-radius: 10px;
  margin-left: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content {
  flex: 1;
  padding-left: 5px;
  margin-left: -100px;
}

.about-content h2 {
  font-size: 2.5em;
  margin-bottom: 15px;
  color: #333;
}

.about-content p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
  text-align: justify;
}

.about-content .social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  text-decoration: none;
  color: #555;
  margin-right: 10px;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #28a745; /* Warna hover */
}

.contact-btn  {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.contact-btn:hover {
  background-color: #218838;
}

/* bagian contact */
#contact {
  background: linear-gradient(to top, #76c47b, #ffffff 85%);
  padding: 40px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.contact-section {
  padding: 60px 20px;
  background-color: #fff;
  text-align: center;
}

.contact-section h2 {
  font-size: 2.5em;
  margin-top: 55px;
  color: #333;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 25%; /* Tampilkan 4 item sekaligus */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.carousel-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.carousel-item h4, p {
  text-align: center;
  color: black;
}

.carousel-item li {
  list-style: none;
}

.carousel-item a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dff5e3;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.carousel-item a:hover {
  background-color: #cbe3d0;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}


@media (max-width: 768px) {
  /* logika navbar ke mobile */
  .navbar {
    padding: 24px;
    width: 100%;
  }
  .nav-logo {
    display: none;
  }
  .navbar-container {
    justify-content: center;
  }

  /* logika about */
  .about-container {
    flex-direction: column;
    text-align: center;
    margin-top: 0;
  }

  .about-image {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .about-image img {
    width: 100%; /* Lebar gambar 100% saat mobile */
    margin-left: 0;
    max-width: none; /* Menghilangkan batas maksimal saat mobile */
  }

  .about-content {
    padding-left: 0;
    margin-left: 0;
  }

  /* logika bagian kontak */
  .carousel-item {
    min-width: 100%; /* Hanya tampilkan satu item */
  }

  .carousel {
    transition: transform 0.5s ease-in-out;
  }

  /* Tombol navigasi manual di mode mobile */
  .carousel-prev, .carousel-next {
    font-size: 20px;
    padding: 8px;
  }

}
